@model GamingGroove.Models.DenunciaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DenunciaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.denunciante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.denunciante.usuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.denunciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.denunciado.usuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publicacao.publicacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comunidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comunidade.comunidadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaoDenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaoDenuncia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.situacaoDenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.situacaoDenuncia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDenuncia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.denunciaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
