@model GamingGroove.Models.EquipeModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EquipeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iconeEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iconeEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaoEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaoEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jogoEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jogoEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCriacaoEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCriacaoEquipe)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="equipeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
