@model GamingGroove.Views.Shared.ViewModel
@using System.Security.Claims

@{
	ViewData["Title"] = "ComunidadeHomePage";
}


@{
	string notificacao = "";
}
@if(@Model.getTodosUsuariosSolicitacoes.Count() > 0){
	 notificacao = "(" + Model.getTodosUsuariosSolicitacoes.Count().ToString() + ")";
}   
<title>Comunidades @notificacao</title>
<link rel="stylesheet" href="~/css/ComunidadeHomePage.css" asp-append-version="true" />


<div class="main-container">
	<div class="left-container">
		<div class="large-screen">
			<div class="newCommunity-container">
				<div class="newCommunity-title">Crie uma nova comunidade
					<button type="button" class="newCommunity-button" data-bs-toggle="modal" data-bs-target="#createPost-modal">Criar</button>
				</div>			
			</div>
		</div>

		<div class="short-screen">
			<button type="button" class="newCommunity-button" data-bs-toggle="modal" data-bs-target="#createPost-modal">Criar comunidade</button>
		</div>
	</div>	
	<div class="center-container">
		<div class="communities-container">
			<div class="myCommunities-title">Comunidades que sou membro</div>
			<div class="myCommunities-container">
			<div class="myCommunities-list">
				@foreach(var item in Model.getComunidadesUsuario)
				{
					int _comunidadeIdCadaComunidade = item.comunidade.comunidadeId;
					int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
					@if(item.cargoComunidade.ToString() != "ADM")
					{
						<a href="~/ComunidadePage/@item.comunidade.nomeComunidade"><div class="communityItems">
								@if (item.comunidade.iconeComunidade != null)
								{
									<img class="communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
								}
								else
								{
									<img class="communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
								}    
							<div class="myCommunityName">@item.comunidade.nomeComunidade</div>
							<div class="communityMembers">@numberOfMembersEachCommunity membros</div>
						</div></a>
					}
				}											
			</div>
			</div>			
			<div class="myCommunities-title">Comunidades que administro</div>
			<div class="myCommunities-container">
			<div class="myCommunities-list">
				@foreach(var item in Model.getComunidadesUsuario)
				{
					int _comunidadeIdCadaComunidade = item.comunidade.comunidadeId;
					int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
					
					@if(item.cargoComunidade.ToString() == "ADM")
					{
					<a href="~/ComunidadePage/@item.comunidade.nomeComunidade"><div class="communityItems">
							@if (item.comunidade.iconeComunidade != null)
							{
								<img class="communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
							}
							else
							{
								<img class="communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
							}    
						<div class="myCommunityName">@item.comunidade.nomeComunidade</div>
						<div class="communityMembers">@numberOfMembersEachCommunity membros</div>
					</div></a>
					}
				}														
			</div>
			</div>				
		</div>

	</div>

	<div class="right-container">
		<div class="suggestedCommunities">
			<div class="listTitle">Comunidades sugeridas</div>
			<div class="communitiesList">
				@foreach (var item in Model.getComunidadesSugeridas) {
					
					int _comunidadeIdCadaComunidade = item.comunidade.comunidadeId;
					int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
					<a href="~/ComunidadePage/@item.comunidade.nomeComunidade">
						<div class="communities-items">
							@if (item.comunidade.iconeComunidade != null)
							{
								<img class="list-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
							}
							else
							{
								<img class="list-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
							}               
							<div class="communityInfo-container">
								<div class="communityName">@item.comunidade.nomeComunidade</div>                                
								<div class="list-numberOfMembers">@numberOfMembersEachCommunity membros</div>
							</div>
						</div>	
					</a>				
				}
			</div>
		</div>		
	</div>

</div>



<div class="modal fade" id="createPost-modal" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
	<div class="modal-dialog" id="createCommunity-dialog">
		<div class="modal-content post" id="createCommunity-content">
			<form class="createCommunity-form" asp-controller="ComunidadeHomePage" asp-action="CriarComunidade" enctype="multipart/form-data">
				<div class="create-container">        
					<div class="createCommunity-container">
						<div class="createCommunity-title">Crie sua comunidade</div>
						<div class="communityName-container">
							<div class="communityName">Escolha um nome para a sua comunidade:</div>
							<input name="NomeComunidade" id="communityName-input"/>
						</div>     
						<div class="secondSection-container"> 
							<div class="favGames-container">              
								<div class="imageInput-container">
									<div>Selecione as imagens:</div>
									<div class="profileIcon-input-container">
										<div class="profileImage-input">
											<label class="imageInput" for="profileIcon-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Ícone</label>
											<input id="profileIcon-input" name="iconeComunidadeArquivo" type="file"/>
										</div>                        
									</div>
									<div class="profileCover-input-container">
										<div class="profileImage-input">
											<label class="imageInput" for="profileCover-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Capa</label>
											<input id="profileCover-input" name="capaComunidadeArquivo" type="file"/>
										</div>                        
									</div>
								</div>
								<div class="favGames-label-container">
									<div class="favGames-label">Selecione três jogos:</div>
									<div class="favGames-alert">@ViewBag.Message</div>
								</div>
								
								<div class="form-group">
									<select name="PrimeiroJogo" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
								</div>
								<div class="form-group">
									<select name="SegundoJogo" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
								</div>
								<div class="form-group">
									<select name="TerceiroJogo" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
								</div>   
							</div>
							<div class="biography">
								<div>Faça uma descrição da sua comunidade:</div>
								<div class="form-group">
									<textarea name="DescricaoComunidade" class="form-control bio-text" rows="10"></textarea>
								</div>
							</div>
						</div>
						<div class="buttons-container">
							<button type="button" class="submit-button" data-bs-dismiss="modal">Cancelar</button>
							<button class="submit-button" value="CriarComunidade" type="submit">Criar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	var errorMessage = '@TempData["ErrorMessage"]';
    if (errorMessage) {
        alert(errorMessage);
    }
</script>