@model IEnumerable<GamingGroove.Models.AmizadeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.solicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.receptor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoAmizade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataAmizade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.solicitante.usuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receptor.usuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoAmizade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataAmizade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.amizadeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.amizadeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.amizadeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
