@model GamingGroove.Views.Shared.ViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "EquipePage";
}


@{
	string notificacao = "";
}
@if(@Model.getTodosUsuariosSolicitacoes.Count() > 0){
	 notificacao = "(" + Model.getTodosUsuariosSolicitacoes.Count().ToString() + ")";
}   
<title>Formador de Equipes @notificacao</title>
<link rel="stylesheet" href="~/css/EquipePage.css" asp-append-version="true" />


<div class="main-container">

    <div class="left-container">
        <div class="suggestedTeams">
			<div class="teamsListTitle">Minhas equipes</div>
			<div class="teamsList">
				@foreach (var item in Model.getEquipesUsuario) {
					<a href="~/ComunidadePage/@item.equipe.nomeEquipe">
						<div class="teamsItems">
							@if (item.equipe.iconeEquipe != null)
							{
								<img class="list-teamIcon" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
							}
							else
							{
								<img class="list-teamIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
							}               
							<div class="communityInfo-container">
								<div class="teamName">@item.equipe.nomeEquipe</div>                                
							</div>
						</div>	
					</a>				
				}
			</div>
		</div>		
    </div>


    <div class="center-container">
        <div class="findTeams-title">Encontre equipes</div>
        <div class="findTeams">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="teamsSearch" type="search" placeholder="Buscar equipe">
            </form>
            <div class="findTeams-container">
                <div class="findTeams-list">
                    @foreach (var equipe in Model.getEquipes)
                    {
                        int _comunidadeIdCadaComunidade = equipe.equipeId;
                        int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);

                        <div type="button" class="findTeams-items"  data-bs-toggle="modal" data-bs-target="#teamsModal-@equipe.equipeId">
                            <div class="teamInfo-container">
                                @if (equipe.iconeEquipe != null)
                                {
                                    <img class="teamIcon" src="data:image/png;base64,@Convert.ToBase64String(equipe.iconeEquipe)" />
                                }
                                else
                                {
                                    <img class="teamIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                }
                                <div class="teamInfo">
                                    <div class="teamName">@equipe.nomeEquipe</div>
                                    <div class="teamGame">@equipe.jogoEquipe</div>
                                </div>
                            </div>
                            <div class="teamNumberOfMembers">@numberOfMembersEachCommunity/12</div>
                        </div>
                    }                    
                </div>
            </div>            
        </div>
    </div>


    <div class="right-container">
        <div class="large-screen">
            <div class="newCommunity-container">
                <div class="newCommunity-title">Crie uma nova equipe</div>			
                <button type="button" class="newCommunity-button" data-bs-toggle="modal" data-bs-target="#createPost-modal">Criar</button>
            </div>
        </div>

        <div class="short-screen">
            <button type="button" class="newCommunity-button" data-bs-toggle="modal" data-bs-target="#createPost-modal">Criar equipe</button>
        </div>
    </div>
</div>






@* <div class="main-container">
    <div class="left-container">
        <div class="minhasEquipes">
            <div class="listTitle">Minhas Equipes</div>
            <div class="teamsList">
                @if (Model.getEquipesUsuario == null)
                {
                    <div>Você ainda não faz parte de equipes.</div>
                }
                else
                {
                    @foreach (var item in Model.getEquipesUsuario)
                    {

                        int _comunidadeIdCadaComunidade = item.equipe.equipeId;
                        int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
                        <a href="">
                            <div class="teams-items">
                                @if (item.equipe.iconeEquipe != null)
                                {
                                    <img class="list-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
                                }
                                else
                                {
                                    <img class="list-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                }
                                <div class="communityInfo-container">
                                    <div class="communityName">@item.equipe.nomeEquipe</div>
                                    <div class="list-numberOfMembers">@numberOfMembersEachCommunity membros</div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

   

        
    

    <div class="center-container">
        <div class="search-bar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="botao"  type="submit"><img class="imagem" src="~/images/icons/search-icon.svg" /></button>
            </form>
            </div>
    

        <div class="container-card">
            @foreach (var item in Model.getEquipes)
            {
                int _comunidadeIdCadaComunidade = item.equipeId;

                int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
                <div class="card"  data-bs-toggle="modal" data-bs-target="#equipeModal-@item.equipeId">
                    @if (item.iconeEquipe != null)
                    {
                        <img class="team-icon" src="data:image/png;base64,@Convert.ToBase64String(item.iconeEquipe)" />
                    }
                    else
                    {
                        <img class="team-icon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                    }
                    <div class="container-info">
                       <div class="teamName">@item.nomeEquipe</div>
               
                        <div class="teamGame">@item.jogoEquipe</div>
                    </div>

                        <div class="listnumberOfMembers">@numberOfMembersEachCommunity/12</div>
                    </div>
                
            }
    </div>
    </div>

    <div class="right-container">
        <div class="newCommunity-container">
            <div class="newCommunity-title">Crie uma nova equipe</div>
            <button type="button" class="newCommunity-button" data-bs-toggle="modal" data-bs-target="#createPost-modal">Criar</button>
        </div>
    </div>

        
    </div>
 *@





<div class="modal fade" id="createPost-modal" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content post" id="modal-content">
            <form class="createTeam-form" asp-controller="EquipePage" asp-action="CriarEquipe" enctype="multipart/form-data">
                <div class="create-container">
                    <div class="createCommunity-container">
                        <div class="createCommunity-title">Crie sua Equipe</div>
                        <div class="communityName-container">
                            <div class="communityName">Escolha um nome para a sua equipe:</div>
                            <input name="NomeEquipe" id="communityName-input" />
                        </div>
                        <div class="secondSection-container">
                            <div class="favGames-container">
                                <div class="imageInput-container">
                                    <div>Selecione as imagens:</div>
                                    <div class="profileIcon-input-container">
                                        <div class="profileImage-input">
                                            <label class="imageInput" for="profileIcon-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Ícone</label>
                                            <input id="profileIcon-input" name="iconeEquipeArquivo" type="file" />
                                        </div>
                                    </div>
                                    @* <div class="profileCover-input-container">
                                        <div class="profileImage-input">
                                            <label class="imageInput" for="profileCover-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Capa</label>
                                            <input id="profileCover-input" name="capaComunidadeArquivo" type="file" />
                                        </div>
                                    </div> *@
                                </div>
                                <div class="favGames-label-container">
                                    <div class="favGames-label">Selecione um jogo:</div>
                                    <div class="favGames-alert">@ViewBag.Message</div>
                                </div>

                                <div class="form-group">
                                    <select name="JogoEquipe" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
                                </div>
                               
                            </div>
                            <div class="biography">
                                <div>Faça uma descrição da sua equipe:</div>
                                <div class="form-group">
                                    <textarea name="DescricaoEquipe" class="form-control bio-text" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-container">
                            <button type="button" class="submit-button" data-bs-dismiss="modal">Cancelar</button>
                            <button class="submit-button" value="CriarEquipe" type="submit">Criar equipe</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@* MODAL INFORMAÇOES *@

@foreach (var item in Model.getEquipes)
{
    <div class="modal fade" id="teamsModal-@item.equipeId" tabindex="-1">
        <div class="modal-dialog" id="teamsModal-dialog">
            <div class="modal-content" id="teamsModal-content">
                <div class="teamFirstContainer">
                    <div class="teamHeader">
                        @if (item.iconeEquipe != null)
                        {
                            <img class="teamIcon-modal" src="data:image/png;base64,@Convert.ToBase64String(item.iconeEquipe)" alt="Imagem de Perfil do Usuário" />
                        }
                        else
                        {
                            <img class="teamIcon-modal" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                        }
                        <div class="teamInfo">
                            <div class="teamName-modal">@item.nomeEquipe</div>
                            <div class="teamGame-modal">@item.jogoEquipe</div>
                        </div>
                    </div>
                    <div class="teamButtons-container">
                        <button type="button" class="closeButton" data-bs-dismiss="modal" aria-label="Fechar">X</button>
                        <form asp-controller="EquipePage" asp-action="IngressarEquipe">
                            <input type="hidden" name="IdEquipe" value="@item.equipeId">
                            <button type="submit" class="joinButton">Entrar na equipe</button>
                        </form>
                    </div>
                </div>
                <div class="teamSecondContainer">
                    <div class="teamDescription-container">
                        <div class="descriptionTitle">Descrição da equipe</div>
                        <div class="teamDescription-box">@item.descricaoEquipe</div>
                    </div>
                    <div class="teamMembers-container">
                        <div class="teamMembers-title">Membros</div>
                        <div class="teamMembers-list">
                            @{
                                var getMembrosEquipe = Model.getTodosUsuariosEquipes.Where(uc => uc.equipeId == item.equipeId).ToList();
                            }                            
                            @foreach (var membro in getMembrosEquipe)
                            {
                                var getMembro = Model.getTodosUsuarios.FirstOrDefault(up => up.usuarioId == membro.usuarioId);
                                <div class="members-container">
                                    <div class="member-header">
                                        <a href="~/PerfilPage/@getMembro.nomeUsuario"><div class="memberUser">
                                            @if(getMembro.iconePerfil != null)
                                            {
                                                <img class="userIcon-member" src="data:image/png;base64,@Convert.ToBase64String(getMembro.iconePerfil)" alt="Imagem de Perfil do Usuário" />
                                            }
                                            else
                                            {
                                                <img class="userIcon-member" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                            }
                                            <div class="userName-member">@getMembro.nomeUsuario</div>
                                        </div></a>		
                                    </div>
                                </div>                            		
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}







