@model GamingGroove.Views.Shared.ViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "EquipePage";
}


@{
	string notificacao = "";
}
@if(@Model.getTodosUsuariosSolicitacoes.Count() > 0){
	 notificacao = "(" + Model.getTodosUsuariosSolicitacoes.Count().ToString() + ")";
}   
<title>Formador de Equipes @notificacao</title>
<link rel="stylesheet" href="~/css/EquipePage.css" asp-append-version="true" />

<div class="main-container">
    <div class="left-container">
        <div class="minhasEquipes">
            <div class="listTitle">Minhas Equipes</div>
            <div class="teamsList">
                @if (Model.getEquipesUsuario == null)
                {
                    <div>Você ainda não faz parte de equipes.</div>
                }
                else
                {
                    @foreach (var item in Model.getEquipesUsuario)
                    {

                        int _comunidadeIdCadaComunidade = item.equipe.equipeId;
                        int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
                        <a href="">
                            <div class="teams-items">
                                @if (item.equipe.iconeEquipe != null)
                                {
                                    <img class="list-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
                                }
                                else
                                {
                                    <img class="list-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                }
                                <div class="communityInfo-container">
                                    <div class="communityName">@item.equipe.nomeEquipe</div>
                                    <div class="list-numberOfMembers">@numberOfMembersEachCommunity membros</div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

   

        
    

    <div class="center-container">
        <div class="search-bar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="botao"  type="submit"><img class="imagem" src="~/images/icons/search-icon.svg" /></button>
            </form>
            </div>
    

        <div class="container-card">
            @foreach (var item in Model.getEquipes)
            {
                int _comunidadeIdCadaComunidade = item.equipeId;

                int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
                <div class="card"  data-bs-toggle="modal" data-bs-target="#equipeModal-@item.equipeId">
                    @if (item.iconeEquipe != null)
                    {
                        <img class="team-icon" src="data:image/png;base64,@Convert.ToBase64String(item.iconeEquipe)" />
                    }
                    else
                    {
                        <img class="team-icon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                    }
                    <div class="container-info">
                       <div class="teamName">@item.nomeEquipe</div>
               
                        <div class="teamGame">@item.jogoEquipe</div>
                    </div>

                        <div class="listnumberOfMembers">@numberOfMembersEachCommunity/12</div>
                    </div>
                
            }
    </div>
    </div>

    <div class="right-container">
        <div class="newCommunity-container">
            <div class="newCommunity-title">Crie uma nova equipe</div>
            <button type="button" class="newCommunity-button" data-bs-toggle="modal" data-bs-target="#createPost-modal">Criar</button>
        </div>
    </div>

        
    </div>

<div class="modal fade" id="createPost-modal" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content post" id="modal-content">
            <form class="createTeam-form" asp-controller="EquipePage" asp-action="CriarEquipe" enctype="multipart/form-data">
                <div class="create-container">
                    <div class="createCommunity-container">
                        <div class="createCommunity-title">Crie sua Equipe</div>
                        <div class="communityName-container">
                            <div class="communityName">Escolha um nome para a sua equipe:</div>
                            <input name="NomeEquipe" id="communityName-input" />
                        </div>
                        <div class="secondSection-container">
                            <div class="favGames-container">
                                <div class="imageInput-container">
                                    <div>Selecione as imagens:</div>
                                    <div class="profileIcon-input-container">
                                        <div class="profileImage-input">
                                            <label class="imageInput" for="profileIcon-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Ícone</label>
                                            <input id="profileIcon-input" name="iconeEquipeArquivo" type="file" />
                                        </div>
                                    </div>
                                    @* <div class="profileCover-input-container">
                                        <div class="profileImage-input">
                                            <label class="imageInput" for="profileCover-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Capa</label>
                                            <input id="profileCover-input" name="capaComunidadeArquivo" type="file" />
                                        </div>
                                    </div> *@
                                </div>
                                <div class="favGames-label-container">
                                    <div class="favGames-label">Selecione um jogo:</div>
                                    <div class="favGames-alert">@ViewBag.Message</div>
                                </div>

                                <div class="form-group">
                                    <select name="JogoEquipe" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
                                </div>
                               
                            </div>
                            <div class="biography">
                                <div>Faça uma descrição da sua equipe:</div>
                                <div class="form-group">
                                    <textarea name="DescricaoEquipe" class="form-control bio-text" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-container">
                            <button class="submit-button" href="~/EquipePage">Cancelar</button>
                            <button class="submit-button" value="CriarEquipe" type="submit">Criar equipe</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@* MODAL INFORMAÇOES *@

@foreach (var item in Model.getEquipes)
{
   

    <div class="modal fade" id="equipeModal-@item.equipeId" tabindex="-1">
        <div class="modal-dialog" #modal-equipe-dialog>
            <div class="modal-content" #modal-equipe-content>
                <div class="commentsHeader">
                        @if (item.iconeEquipe != null)
                        {
                            <img class="userIcon-post" src="data:image/png;base64,@Convert.ToBase64String(item.iconeEquipe)" alt="Imagem de Perfil do Usuário" />
                        }
                        else
                        {
                            <img class="userIcon-post" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                        }
                    <div class=" ">@item.nomeEquipe</div>

                    <div class=" ">@item.jogoEquipe</div>
                    <button type="button" class="closeButton" data-bs-dismiss="modal" aria-label="Fechar">X</button>
                </div>
               @*  BOTAO DE ENTRAR NA EQUIPE *@
                <button type="button" class="button-entrar" asp-controller="EquipePage" asp-action="">Entrar na equipe</button>

               <div class="team-description">@item.descricaoEquipe</div>
               

               
                
            </div>
        </div>
    </div>
}



   


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        <script src="/js/EquipePage.js"></script>


