@model GamingGroove.Views.Shared.ViewModel
@using System.Security.Claims

@{
	ViewData["Title"] = "FeedPage";
}

@{
	string notificacao = "";
}
@if(@Model.getTodosUsuariosSolicitacoes.Count() > 0){
	 notificacao = "(" + Model.getTodosUsuariosSolicitacoes.Count().ToString() + ")";
}   
<title>Feed @notificacao</title>
<link rel="stylesheet" href="~/css/FeedPage.css" asp-append-version="true" />

<div class="main-container">

	<div class="left-container">
		<div class="suggestedCommunities">
			<div class="listTitle">Minhas comunidades</div>
			<div class="communitiesList">
				@if(Model.getComunidadesUsuario == null)
				{
					<div>Você ainda não faz parte de comunidades.</div>
				}
				else
				{
					@foreach (var item in Model.getComunidadesUsuario) {
						
						int _comunidadeIdCadaComunidade = item.comunidade.comunidadeId;
						int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
						<a href="~/ComunidadePage/@item.comunidade.nomeComunidade">
							<div class="communities-items">
								@if (item.comunidade.iconeComunidade != null)
								{
									<img class="list-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
								}
								else
								{
									<img class="list-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
								}               
								<div class="communityInfo-container">
									<div class="communityName">@item.comunidade.nomeComunidade</div>                                
									<div class="list-numberOfMembers">@numberOfMembersEachCommunity membros</div>
								</div>
							</div>	
						</a>
					}				
				}
			</div>
		</div>		
	</div>

	<div class="center-container">
		<div class="buttons-container">
			<button type="button" class="myCommunities-button" id="myCommunitiesButton" data-bs-toggle="modal" data-bs-target="#myCommunitiesModal">Minhas comunidades</button>	
			<button type="button" class="myTeams-button" id="myTeamsButton" data-bs-toggle="modal" data-bs-target="#myTeamsModal">Minhas equipes</button>	
		</div>
		<div class="post-container">
			@if(Model.getFeedPublicacoes.Count() == 0)
			{
				<div class="noPosts">Você ainda não tem publicações para ver aqui :(</div>
			}
			@foreach(var item in Model.getFeedPublicacoes.OrderByDescending(p => p.dataPublicacao))
			{
				var dataLimite = DateTime.Now.AddDays(-5);
				if(item.dataPublicacao > dataLimite) 
				{				
					Model.getUsuarioPublicacao = Model.getTodosUsuarios.FirstOrDefault(up => up.usuarioId == item.usuarioId);
					Model.getComunidadePublicacao = Model.getTodasComunidades.FirstOrDefault(cp => cp.comunidadeId == item.comunidadeId);
					int getCurtidasPublicacao = Model.getTodasCurtidas.Count(cp => cp.publicacaoId == item.publicacaoId);
					int getComentariosPublicacao = Model.getTodosComentarios.Count(cp => cp.publicacaoId == item.publicacaoId);
					<div class="post">
						<div class="postHeader">
							<a href="~/PerfilPage/@Model.getUsuarioPublicacao.nomeUsuario"><div class="user-container">
								@if(Model.getUsuarioPublicacao.iconePerfil != null)
								{
									<img class="userIcon" src="data:image/png;base64,@Convert.ToBase64String(Model.getUsuarioPublicacao.iconePerfil)" alt="Imagem de Perfil do Usuário" />
								}
								else
								{
									<img class="userIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
								}
								
								<div class="userName">@Model.getUsuarioPublicacao.nomeUsuario</div>
							</div></a>
							@if(Model.getComunidadePublicacao.iconeComunidade != null)
							{
								<a href="~/ComunidadePage/@Model.getComunidadePublicacao.nomeComunidade"><img class="post-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(Model.getComunidadePublicacao.iconeComunidade)" alt="Imagem de ícone da Comunidade" title="@Model.getComunidadePublicacao.nomeComunidade"></a>
							}
							else
							{
								<a href="~/ComunidadePage/@Model.getComunidadePublicacao.nomeComunidade"><img class="post-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de ícone da Comunidade" title="@Model.getComunidadePublicacao.nomeComunidade"></a>
							}
							
						</div>
						<div class="postContent">
							<div class="postText">@item.textoPublicacao</div>
							@if(item.midiaPublicacao != null)
							{
								<img type="button" class="postImage"data-bs-toggle="modal" data-bs-target="#imageModal-@item.publicacaoId" src="data:image/png;base64,@Convert.ToBase64String(item.midiaPublicacao)" alt="">
							}					
						</div>
					<div class="postNumbers">
						<div class="postLikes" type="button" data-bs-toggle="modal" data-bs-target="#curtidasModal-@item.publicacaoId">@getCurtidasPublicacao curtidas</div>
						<div class="postComments" type="button" id="postButtons" data-bs-toggle="modal" data-bs-target="#publicacaoModal-@item.publicacaoId">@getComentariosPublicacao comentários</div>
					</div>
						<div class="postButtons">
							<div class="interactionButtons-container">
							<form asp-action="CurtirPublicacao">		
								@{
									var existeCurtida = Model.getTodasCurtidas.FirstOrDefault(uc => uc.usuarioId.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier) && uc.publicacaoId == item.publicacaoId);
								}
								<input type="hidden" name="IdPublicacao" value="@item.publicacaoId" />
								@if(existeCurtida != null)
								{
									<button class="postLikes-hidden" type="submit"><img class="postLikes-button" id="postButtons-existLike" src="~/images/icons/like-icon.svg" ></button>
								}
								else
								{
									<button class="postLikes-hidden" type="submit"><img class="postLikes-button" id="postButtons" src="~/images/icons/like-icon.svg" ></button>
								}	
							</form>		
								<img type="button" class="postComments-button" id="postButtons" data-bs-toggle="modal" data-bs-target="#publicacaoModal-@item.publicacaoId" src="~/images/icons/comment-icon.svg" alt="">			
							</div>
							<img class="reportButton" src="~/images/icons/report-icon.svg" alt="">
						</div>
					</div>
				}	
			}
		</div>


	</div>

	<div class="right-container">
		<div class="suggestedTeams">
			<div class="teamsListTitle">Minhas equipes</div>
			<div class="teamsList">
				@foreach (var item in Model.getEquipesUsuario) {
					<a href="~/ComunidadePage/@item.equipe.nomeEquipe">
						<div class="teamsItems">
							@if (item.equipe.iconeEquipe != null)
							{
								<img class="list-teamIcon" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
							}
							else
							{
								<img class="list-teamIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
							}               
							<div class="communityInfo-container">
								<div class="teamName">@item.equipe.nomeEquipe</div>                                
							</div>
						</div>	
					</a>				
				}
			</div>
		</div>			
	</div>
</div>


@foreach (var item in Model.getFeedPublicacoes)
{
	Model.getUsuarioPublicacao = Model.getTodosUsuarios.FirstOrDefault(up => up.usuarioId == item.usuarioId);
	Model.getComentariosPublicacao = Model.getTodosComentarios.Where(c => c.publicacaoId == item.publicacaoId).ToList();
	
    <div class="modal fade" id="publicacaoModal-@item.publicacaoId" tabindex="-1" aria-labelledby="publicacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="commentsModal-dialog">
            <div class="modal-content" id="commentsModal-content">
                <div class="commentsHeader">
					<a href="~/PerfilPage/@Model.getUsuarioPublicacao.nomeUsuario">
					@if(Model.getUsuarioPublicacao.iconePerfil != null)
					{
						<img class="userIcon-post" src="data:image/png;base64,@Convert.ToBase64String(Model.getUsuarioPublicacao.iconePerfil)" alt="Imagem de Perfil do Usuário" />
					}
					else
					{
						<img class="userIcon-post" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
					}
					</a>
                    <div class="modal-title" id="usuarioModalLabel">COMENTÁRIOS<div>Publicação de <span>@Model.getUsuarioPublicacao.nomeUsuario</span></div></div>
                    <button type="button" class="closeButton" data-bs-dismiss="modal" aria-label="Fechar">X</button>
                </div>
                <div class="commentsList">
                    @foreach(var comentario in Model.getComentariosPublicacao)
					{
						Model.getUsuarioComentario = Model.getTodosUsuarios.FirstOrDefault(up => up.usuarioId == comentario.usuarioId);
						<div class="comment-container">
							<div class="commentHeader">
								<a href="~/PerfilPage/@Model.getUsuarioComentario.nomeUsuario"><div class="commentUser">
									@if(Model.getUsuarioComentario.iconePerfil != null)
									{
										<img class="userIcon-comment" src="data:image/png;base64,@Convert.ToBase64String(Model.getUsuarioComentario.iconePerfil)" alt="Imagem de Perfil do Usuário" />
									}
									else
									{
										<img class="userIcon-comment" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
									}
									<div class="userName-comment">@Model.getUsuarioComentario.nomeUsuario</div>
								</div></a>
								<div class="commentDateTime">@comentario.dataComentario</div>
							</div>
							<div class="commentContent">@comentario.textoComentario</div>
						</div>
					}
                </div>
				<form class="userComment-form" id="userComment-form" asp-action="Comentar">		
					<input type="hidden" name="IdPublicacao" value="@item.publicacaoId" />
					<textarea class="userComment-text" name="TextoComentario" placeholder="Digite seu comentário"></textarea>
					<button type="submit" class="sendComment-button">Comentar</button>
				</form>
            </div>
        </div>
    </div>
}




@foreach (var item in Model.getFeedPublicacoes)
{
	Model.getUsuarioPublicacao = Model.getTodosUsuarios.FirstOrDefault(up => up.usuarioId == item.usuarioId);
	Model.getCurtidasPublicacao = Model.getTodasCurtidas.Where(c => c.publicacaoId == item.publicacaoId).ToList();
	int getCurtidasPublicacao = Model.getTodasCurtidas.Count(cp => cp.publicacaoId == item.publicacaoId);
	
    <div class="modal fade" id="curtidasModal-@item.publicacaoId" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" id="likesModal-dialog">
            <div class="modal-content" id="likesModal-content">
                <div class="likesHeader">
					<a href="~/PerfilPage/@Model.getUsuarioPublicacao.nomeUsuario">
					@if(Model.getUsuarioPublicacao.iconePerfil != null)
					{
						<img class="userIcon-post" src="data:image/png;base64,@Convert.ToBase64String(Model.getUsuarioPublicacao.iconePerfil)" alt="Imagem de Perfil do Usuário" />
					}
					else
					{
						<img class="userIcon-post" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
					}
					</a>
                    <div class="modal-title" id="usuarioModalLabel"><div>Publicação de <span>@Model.getUsuarioPublicacao.nomeUsuario</span><br>@getCurtidasPublicacao curtidas</div></div>
                    <button type="button" class="closeButton" data-bs-dismiss="modal" aria-label="Fechar">X</button>
                </div>
                <div class="likesList">
					
                    @foreach(var curtida in Model.getCurtidasPublicacao)
					{
						var getUsuarioCurtida = Model.getTodosUsuarios.FirstOrDefault(up => up.usuarioId == curtida.usuarioId);
						<div class="likes-container">
							<div class="likes-header">
								<a href="~/PerfilPage/@getUsuarioCurtida.nomeUsuario"><div class="likeUser">
									@if(getUsuarioCurtida.iconePerfil != null)
									{
										<img class="userIcon-like" src="data:image/png;base64,@Convert.ToBase64String(getUsuarioCurtida.iconePerfil)" alt="Imagem de Perfil do Usuário" />
									}
									else
									{
										<img class="userIcon-like" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
									}
									<div class="userName-like">@getUsuarioCurtida.nomeUsuario</div>
								</div></a>
							</div>
						</div>
					}
                </div>

            </div>
        </div>
    </div>
}






@foreach (var item in Model.getFeedPublicacoes)
{	
    <div class="modal fade" id="imageModal-@item.publicacaoId" tabindex="-1" aria-labelledby="publicacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="imageModal-dialog">
            <div class="modal-content" id="imageModal-content">
                @if(item.midiaPublicacao != null)
				{
					<img class="postImageModal" src="data:image/png;base64,@Convert.ToBase64String(item.midiaPublicacao)" alt="">
				}		
            </div>
        </div>
    </div>
}



<div class="modal fade" id="myCommunitiesModal" tabindex="-1">
	<div class="modal-dialog" id="myCommunitiesModal-dialog">
		<div class="modal-content" id="myCommunitiesModal-content">
			<div class="suggestedCommunities">
				<div class="listTitle">Minhas comunidades</div>
				<div class="communitiesList">
					@if(Model.getComunidadesUsuario == null)
					{
						<div>Você ainda não faz parte de comunidades.</div>
					}
					else
					{
						@foreach (var item in Model.getComunidadesUsuario) {
							
							int _comunidadeIdCadaComunidade = item.comunidade.comunidadeId;
							int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
							<a href="~/ComunidadePage/@item.comunidade.nomeComunidade">
								<div class="communities-items">
									@if (item.comunidade.iconeComunidade != null)
									{
										<img class="list-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
									}
									else
									{
										<img class="list-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
									}               
									<div class="communityInfo-container">
										<div class="communityName">@item.comunidade.nomeComunidade</div>                                
										<div class="list-numberOfMembers">@numberOfMembersEachCommunity membros</div>
									</div>
								</div>	
							</a>
						}				
					}
				</div>
				<button type="button" class="closeModal" data-bs-dismiss="modal" aria-label="Fechar">Fechar</button>
			</div>	
		</div>
	</div>
</div>



<div class="modal fade" id="myTeamsModal" tabindex="-1">
	<div class="modal-dialog" id="myCommunitiesModal-dialog">
		<div class="modal-content" id="myCommunitiesModal-content">
			<div class="suggestedTeams">
				<div class="teamsListTitle">Minhas equipes</div>
				<div class="teamsList">
					@foreach (var item in Model.getEquipesUsuario) {
						<a href="~/ComunidadePage/@item.equipe.nomeEquipe">
							<div class="teamsItems">
								@if (item.equipe.iconeEquipe != null)
								{
									<img class="list-teamIcon" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
								}
								else
								{
									<img class="list-teamIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
								}               
								<div class="communityInfo-container">
									<div class="teamName">@item.equipe.nomeEquipe</div>                                
								</div>
							</div>	
						</a>				
					}
				</div>
				<button type="button" class="closeModal" data-bs-dismiss="modal" aria-label="Fechar">Fechar</button>
			</div>
		</div>
	</div>
</div>


@* <div class= "container">

	<div class="colunaEsquerda">
		asdsadasd
	</div>

	<div class="colunaCentral">
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="botaoPublicar">
			Publicar
		</button>
		<a href="http://localhost:3000" class="btn btn-primary">Redirecionar</a>
		
		<div class="publicacoes">			
		</div>	
	</div>

	<div class="colunaDireita">
	asudhausdh
	</div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Publicação</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div class="row">
							<div class="col-md-4">
								<form asp-controller="Publicacao" asp-action="Create" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									
									<div class="form-group">
										<label asp-for="publicacaoId" class="control-label"></label>
										<select asp-for="publicacaoId" class="form-control" asp-items="ViewBag.publicacaoId"></select>
									</div>
									<div class="form-group">
										<label asp-for="usuarioId" class="control-label"></label>
										<select asp-for="usuarioId" class="form-control" asp-items="ViewBag.usuarioId"></select>
									</div>
									<div class="form-group">
										<label asp-for="comunidadeId" class="control-label"></label>
										<select asp-for="comunidadeId" class="form-control" asp-items="ViewBag.comunidadeId"></select>
									</div>
									<div class="mb-3">
										<label for="formFileMultiple" class="form-label">Arquivos</label>
										<input class="form-control" type="file" id="formFileMultiple" multiple>
									</div>
									<div class="form-group">
										
										<label asp-for="textoPublicacao" class="control-label" >Texto</label>
										<input asp-for="textoPublicacao" class="form-control" placeholder="Escreva Aqui" maxlength="100" />
										<span asp-validation-for="textoPublicacao" class="text-danger"></span>
										
									</div>
									<div class="form-group">
										<label asp-for="dataPublicacao" class="control-label"></label>
										<select asp-for="dataPublicacao" class="form-control" asp-items="ViewBag.dataPublicacao"></select>
									</div>

									
									<div class="form-group">
										<input type="submit" value="Create" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Understood</button>
					</div>
				</div>
			</div>
		</div> *@