@model GamingGroove.Models.CurtidaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CurtidaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.usuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publicacao.publicacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCurtida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCurtida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.curtidaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
