@model GamingGroove.Models.UsuarioModel
@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />
    <link rel="stylesheet" href="~/css/PerfilPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
</head>
<body>
    <header>      
        <img class="logo" src="~/images/logos/gg-logo.png" alt="">
        <nav class="navbar">
            <a href="~/FeedPage"><img src="~/images/icons/feed-icon.svg" alt=""></a>
            <img src="~/images/icons/communities-icon.svg" alt="">
            <img src="~/images/icons/explore-icon.svg" alt="">
            <a href="~/EquipePage"><img src="~/images/icons/teams-icon.svg" alt=""></a>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <button id="menu-icon" class="menu-icon" onclick="openMenu()"></button>
            <nav id="listMenu" class="list-menu">
                <div class="list">
                    <a href="~/PerfilPage/@User.FindFirst(ClaimTypes.Name)?.Value">Perfil</a>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                </div>
            </nav>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login"></a>
            </li>
        }

    </header>

    <main> 
        <div class="main-container">
            <div class="cover-pic">
                <div class="cover-first-container">
                    <img class="profile-pic" src="~/images/Karthus_17.jpg" alt="">
                    <div class="user-add-friend-container">
                        <div class="user-border">
                            <div class="username">@Model.nomeUsuario</div>
                        </div>
                        <button class="add-friend-button"><img class="addUser-icon" src="~/images/icons/add-user.svg" alt=""></button>
                    </div>
                </div>
                <div class="cover-second-container">
                    <button class="edit-profile-button">Editar Perfil</button>
                    <button class="report-user-button">R</button>
                </div>
            </div>
            <div class="profile-informations">
                <div class="profile-first-container">
                    <div class="inside-first-container">
                        <div class="column">
                            <h3>BIOGRAFIA</h3>
                            <div class="inside-column">
                                <div class="bio-text">
                                    @Model.biografia
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <h3>JOGOS FAvORITOS</h3>
                            <div class="inside-column">
                                <div class="favorite-games-container">
                                    @if (Model.primeiroJogo != null && Model.segundoJogo != null && Model.terceiroJogo != null)
                                    {
                                        <div class="favorite-games-items">
                                            <div class="gameIcon-container">
                                                <img src="~/images/icons/jogos/@(Model.primeiroJogo).svg" alt="">
                                            </div>
                                            <div>@EnumHelper.GetDisplayName(Model.primeiroJogo)</div>                                      
                                        </div>
                                        <div class="favorite-games-items">
                                            <div class="gameIcon-container">
                                                <img src="~/images/icons/jogos/@(Model.segundoJogo).svg" alt="">
                                            </div>
                                            <div>@EnumHelper.GetDisplayName(Model.segundoJogo)</div>                                               
                                        </div>
                                        <div class="favorite-games-items">
                                            <div class="gameIcon-container">
                                                <img src="~/images/icons/jogos/@(Model.terceiroJogo).svg" alt="">
                                            </div>
                                            <div>@EnumHelper.GetDisplayName(Model.terceiroJogo)</div>                                              
                                        </div>
                                    }                                     
                                </div>                                                                  
                            </div>
                        </div>
                        <div class="column">
                            <h3>EQUIPES</h3>
                            <div class="inside-column"></div>
                        </div>
                    </div>
                    <div class="inside-second-container">
                        <div class="column">
                            <h3>GALERIA</h3>
                            <div class="inside-column"></div>
                        </div>                        
                    </div>            
                </div>
                <div class="profile-second-container">
                    <div class="column">
                        <h3>COMUNIDADES</h3>
                        <div class="inside-column"></div>
                    </div>
                </div>     
            </div>
           
        </div>
    </main>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/js/Menu.js"></script>
    <script src="~/js/JogosFavoritos.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
