@model GamingGroove.Views.PerfilPage.PerfilPageViewModel
@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />
    <link rel="stylesheet" href="~/css/PerfilPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
</head>
<body>
    <header>      
        <img class="logo" src="~/images/logos/gg-logo.png" alt="">
        <nav class="navbar">
            <a href="~/FeedPage"><img src="~/images/icons/feed-icon.svg" alt=""></a>
            <img src="~/images/icons/communities-icon.svg" alt="">
            <img src="~/images/icons/explore-icon.svg" alt="">
            <a href="~/EquipePage"><img src="~/images/icons/teams-icon.svg" alt=""></a>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <button id="menu-icon" class="menu-icon" onclick="openMenu()"></button>
            <nav id="listMenu" class="list-menu">
                <div class="list">
                    <a href="~/PerfilPage/@User.FindFirst(ClaimTypes.Name)?.Value">Perfil</a>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                </div>
            </nav>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login"></a>
            </li>
        }

    </header>

    <main> 
        <div class="main-container">
            <div class="cover-pic" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(Model.getUsuario.capaPerfil)');">
                <div class="cover-first-container">
                    <img class="profile-pic" src="data:image/png;base64,@Convert.ToBase64String(Model.getUsuario.iconePerfil)" alt="Imagem de Perfil" />
                    <div class="user-add-friend-container">
                        <div class="user-border">
                            <div class="username">@Model.getUsuario.nomeUsuario</div>
                        </div>
                        <button class="add-friend-button"><img class="addUser-icon" src="~/images/icons/add-user.svg"></button>
                    </div>
                </div>
                <div class="cover-second-container">
                    <button class="edit-profile-button">Editar Perfil</button>
                    <button class="report-user-button"><img class="report-icon" src="~/images/icons/report-icon.svg"></button>
                </div>
            </div>
            <div class="profile-informations">
                <div class="profile-first-container">
                    <div class="inside-first-container">
                        <div class="column">
                            <h3>BIOGRAFIA</h3>
                            <div class="inside-column">
                                <div class="bio-text">
                                    @Model.getUsuario.biografia
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <h3>JOGOS FAvORITOS</h3>
                            <div class="inside-column">
                                <div class="favorite-games-container">
                                    @if (Model.getUsuario.primeiroJogo != null && Model.getUsuario.segundoJogo != null && Model.getUsuario.terceiroJogo != null)
                                    {
                                        <div class="favorite-games-items">
                                            <div class="gameIcon-container">
                                                <img src="~/images/icons/jogos/@(Model.getUsuario.primeiroJogo).svg" alt="">
                                            </div>
                                            <div>@EnumHelper.GetDisplayName(Model.getUsuario.primeiroJogo)</div>                                      
                                        </div>
                                        <div class="favorite-games-items">
                                            <div class="gameIcon-container">
                                                <img src="~/images/icons/jogos/@(Model.getUsuario.segundoJogo).svg" alt="">
                                            </div>
                                            <div>@EnumHelper.GetDisplayName(Model.getUsuario.segundoJogo)</div>                                               
                                        </div>
                                        <div class="favorite-games-items">
                                            <div class="gameIcon-container">
                                                <img src="~/images/icons/jogos/@(Model.getUsuario.terceiroJogo).svg" alt="">
                                            </div>
                                            <div>@EnumHelper.GetDisplayName(Model.getUsuario.terceiroJogo)</div>                                              
                                        </div>
                                    }                                     
                                </div>                                                                  
                            </div>
                        </div>
                        <div class="column">
                            <h3>EQUIPES</h3>
                            <div class="inside-column">
                                <div class="user-teams-list">
                                    @foreach (var item in Model.getEquipes)
                                    {
                                        <div class="user-teams-items">
                                            <div class="team-icon"></div>
                                            <div class="team-info">
                                                <div class="team-name">@item.equipe.nomeEquipe</div>                                
                                                <div class="team-game">@EnumHelper.GetDisplayName(@item.equipe.jogoEquipe)</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inside-second-container">
                        <div class="column">
                            <h3>GALERIA</h3>
                            <div class="inside-column"></div>
                        </div>                        
                    </div>            
                </div>
                <div class="profile-second-container">
                    <div class="column">
                        <h3>COMUNIDADES</h3>
                        <div class="inside-column">
                                <div class="user-communities-list">
                                    @foreach (var item in Model.getComunidades)
                                    {
                                        <button class="user-communities-items">
                                            <div class="community-header">
                                                <div class="community-icon"></div>
                                                <div class="community-info">
                                                    <div class="community-name">@item.comunidade.nomeComunidade</div>
                                                    <div class="community-members">Membros:</div>                                        
                                                </div>
                                            </div>
                                            <div class="hidden" id="communityHidden">
                                                <div class="community-games-container">
                                                    <div class="community-games-background">
                                                        <img src="~/images/icons/jogos/@(item.comunidade.primeiroJogo).svg" title="@(EnumHelper.GetDisplayName(item.comunidade.primeiroJogo))">
                                                    </div>
                                                    <div class="community-games-background">
                                                        <img src="~/images/icons/jogos/@(item.comunidade.segundoJogo).svg" title="@(EnumHelper.GetDisplayName(item.comunidade.segundoJogo))">
                                                    </div>
                                                    <div class="community-games-background">
                                                        <img src="~/images/icons/jogos/@(item.comunidade.terceiroJogo).svg" title="@(EnumHelper.GetDisplayName(item.comunidade.terceiroJogo))">
                                                    </div>                                                                                   
                                                </div> 
                                                <div class="visit-button"><div>Visitar</div></div>                                                         
                                            </div>
                                        </button>
                                    }
                                </div>                            
                        </div>
                    </div>
                </div>     
            </div>
           
        </div>
    </main>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/js/Menu.js"></script>
    <script src="~/js/PerfilPage.js"></script>
    <script src="~/js/JogosFavoritos.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
