@model IEnumerable<GamingGroove.Models.UsuarioComunidadeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comunidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargoComunidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataVinculoComunidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.usuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comunidade.comunidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargoComunidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataVinculoComunidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.usuarioComunidadeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.usuarioComunidadeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.usuarioComunidadeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
